.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .post{
        margin-bottom: 1.5rem;
        .post-informations{
            display: flex;
            justify-content: space-between;
        }
    }
    .comments{
        width: 100%;
        .add-comment{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .input-field{
                width: 70%;
            }
        }
    }
    .comment-list{
        .load-more{
            display: flex;
            justify-content: center;
            button{
                background: transparent;
                outline: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}