
.container{

    .user-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        margin-bottom: .5rem;
        .user-profile{
            display: flex;
            align-items: center;
        }
    }
    .comment{
        padding: .3rem 4rem;
    }
}